<div class="card-header d-flex justify-content-left">
  <div class="d-flex gap-4 align-items-center">
    <h3 class="m-0">
      <b>Change your password</b>
    </h3>
  </div>
</div>

<div class="card-body">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field form-group mb-2">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="field form-group mb-2">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="actions mt-2">
      <%= f.submit "Change my password", class:"btn btn-primary" %>
    </div>
  <% end %>

  <br/>

  <%= render "devise/shared/links" %>
</div>